*,
::before,
::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: #679f69;
    -webkit-tap-highlight-color: transparent;

}

html {
  scrollbar-gutter: stable;
}

.back {
    color: #979797;
    cursor: pointer;
    text-decoration: none;
}

.body {
    max-width: 540px;
    margin: 0 auto;
    margin-block: 3rem;
    width: 90%;
}

.content {
    margin-top: 2rem;
}

.essays,
.essay {
    margin-top: 2rem;
}

.flex {
    display: flex;
}

.hidden {
  display: none;
}

.nav {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 2rem;
}

.sticky {
    position: sticky;
    background-color: #fff;
    top: 0;
}

.toggle {
  color: #979797;
  cursor: pointer;
}

.toggle-left {
    margin-right: 0.5rem;
}

.toggle-right {
    margin-left: 0.5rem;
}

.toggle.active {
  color: black;
}
